<div *ngIf="product$ | async as product">
  <p>ID: {{ product.id }}</p>
  <p>Product Name: {{ product.productName }}</p>
  <div *ngIf="productSuppliers$ | async as suppliers">
    <div>Suppliers for the product</div>
    <ul>
      <li *ngFor="let supplier of suppliers">
        <p>Supplier: {{ supplier.name }}</p>
      </li>
    </ul>
  </div>
  <div *ngIf="productSuppliersAlt$ | async as suppliers">
    <div>Get suppliers for the product in another way</div>
    <ul>
      <li *ngFor="let supplier of suppliers">
        <p>Supplier: {{ supplier.name }}</p>
      </li>
    </ul>
  </div>
</div>
