<div *ngIf="vm$ | async as vm">
  <p>ID: {{ vm.product.id }}</p>
  <p>Product Name: {{ vm.product.productName }}</p>
  <div>
    <div>Suppliers for the product</div>
    <ul>
      <li *ngFor="let supplier of vm.suppliers">
        <p>Supplier: {{ supplier.name }}</p>
      </li>
    </ul>
  </div>
  <div>
    <div>Get suppliers for the product in another way</div>
    <ul>
      <li *ngFor="let supplier of vm.suppliersAlt">
        <p>Supplier: {{ supplier.name }}</p>
      </li>
    </ul>
  </div>
</div>
